QPushButton {
    background-color: initial;
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #464d55, stop:1 #25292e);
    border-radius: 8px;
    border: none;
    color: #fff;
    font-family: "Segoe UI";
    font-size: 18px;
    height: 52px;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;
}

QPushButton:hover {
    opacity: .6;
}

QPushButton:pressed {
    /* :active in CSS is equivalent to :pressed in QSS */
    border: none;
}