QSlider::groove:horizontal {
    background-color: #444444;
    border: 1px solid;
    height: 10px;
    margin: 0px;
    }
QSlider::handle:horizontal {
    background-color: #306689;
    border: 2px solid black;
    border-radius: 4px;
    height: 5px;
    width: 20px;
    margin: -4px 0px;
    }
QSlider::handle:horizontal:hover {
    background-color: #6BA7CD;
}