QSlider::groove:horizontal {
    background-color: #444444;
    border: 1px solid;
    height: 10px;
    margin: 0px;
    }
QSlider::handle:horizontal {
    background-color: #545454;
    border: 2px solid black;
    border-radius: 4px;
    height: 10px;
    width: 30px;
    margin: -5px 0px;
    }
QSlider::handle:horizontal:hover {
    background-color: #757575;
}